@using CountIdPair = KeyValuePair<int, int>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Statistics";
}

<h1>Statistics</h1>

<div class="row">
    <div class="col-md-4">
		<h4>General</h4>
		<hr />
		<dl class="row">
			<dt class="col-sm-6">Number of projects</dt>
			<dd class="col-sm-6">@ViewData["projectCount"]</dd>
			<dt class="col-sm-6">Number of issues</dt>
			<dd class="col-sm-6">@ViewData["issueCount"]</dd>
			<dt class="col-sm-6">Number of comments</dt>
			<dd class="col-sm-6">@ViewData["commentCount"]</dd>
		</dl>
		<h4>Averages</h4>
		<hr />
		<dl class="row">
			<dt class="col-sm-6">Average issues per project</dt>
			<dd class="col-sm-6">@Math.Round((double)ViewData["averageIssuesPerProject"], 2)</dd>
			<dt class="col-sm-6">Average comments per issue</dt>
			<dd class="col-sm-6">@Math.Round((double)ViewData["averageCommentsPerIssue"], 2)</dd>
			<!-- commentsByProject -->
			<dt class="col-sm-6">Average comments per project</dt>
			<dd class="col-sm-6">@Math.Round((double)ViewData["averageCommentsPerProject"], 2)</dd>
		</dl>
	</div>
	<div class="col-md-4">
		<h4>Issues by status</h4>
		<hr />
		<dl class="row">
			@foreach (var pair in ViewData["issuesByStatus"] as Dictionary<IssueStatus, int>)
			{
				<dt class="col-sm-6">@Issue.getIssueStatusEnumText(pair.Key)</dt>
				<dd class="col-sm-6">@pair.Value</dd>
			}
		</dl>
	</div>
	<div class="col-md-4">
		<h4>Issues by author</h4>
		<hr />
		<dl class="row">
			@foreach (var pair in ViewData["issuesByAuthor"] as Dictionary<string, int>)
			{
				<dt class="col-sm-6">@pair.Key</dt>
				<dd class="col-sm-6">@pair.Value</dd>
			}
		</dl>
	</div>
	<div class="col-md-4">
		<h4>Comments by project</h4>
		<hr />
		<dl class="row">
			@foreach (var pair in ViewData["commentsByProject"] as Dictionary<string, CountIdPair>)
			{
				var innerPair = pair.Value;
				<dt class="col-sm-6"><a asp-action="Details" asp-controller="Projects" asp-route-id="@innerPair.Value">@pair.Key</a></dt>
				<dd class="col-sm-6">@innerPair.Key</dd>
			}
		</dl>
	</div>
	<div class="col-md-4">
		<h4>Issues by project</h4>
		<hr />
		<dl class="row">
			@foreach (var pair in ViewData["issuesByProject"] as Dictionary<string, CountIdPair>)
			{
				var innerPair = pair.Value;
				<dt class="col-sm-6"><a asp-action="Details" asp-controller="Projects" asp-route-id="@innerPair.Value">@pair.Key</a></dt>
				<dd class="col-sm-6">@innerPair.Key</dd>
			}
		</dl>
	</div>
	<div class="col-md-4">
		<h4>Comments by issue</h4>
		<hr />
		<dl class="row">
			@foreach (var pair in ViewData["commentsByIssue"] as Dictionary<string, CountIdPair>)
			{
				var innerPair = pair.Value;
				<dt class="col-sm-6"><a asp-action="Details" asp-controller="Issues" asp-route-id="@innerPair.Value">@pair.Key</a></dt>
				<dd class="col-sm-6">@innerPair.Key</dd>
			}
		</dl>
	</div>
</div>

