@model IssueManager.Models.Project

@{
    ViewData["Title"] = "Project details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
			Current project issues
        </dt>
        <dd class = "col-sm-10">
			<ul>
				@foreach (var issue in Model.Issues)
				{
					<li>
						<a asp-controller="Issues" asp-action="Details" asp-route-id="@issue.Id">@issue.Title</a>
					</li>
				}
			</ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
